@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #1e90ff;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
